body {
  overflow-y: scroll;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 90px;
  .header__logo {
    position: relative;
    top: 0;
    left: 10px;
  }
  .header__button {
    position: relative;
    top: 3px;
    left: 10px;
  }
}

.hero {
  .hero__body {
    padding: 43px 0 0 0;
  }
  .hero__header {
    margin-bottom: 20px;
  }
  .hero__title {
    margin-bottom: 16px;
  }
  .hero__feature-list_wrapper {
    display: flex;
    justify-content: center;
  }
  .hero__feature-list {
    position: absolute;
  }
  .hero__feature-item_first {
    position: relative;
    top: -203px;
    left: 230px;
  }
  .hero__feature-item_second {
    position: relative;
    top: -179px;
    left: -231px;
  }
  .hero__feature-item_third {
    position: relative;
    top: -96px;
    left: 135px;
  }
  .hero__button {
    display: flex;
    justify-content: center;

    padding: 7px 0 0 3px;
  }

  .hero__background-effect_flex {
    display: flex;
    justify-content: center;
  }

  .hero__background-effect_wrapper {
    position: absolute;
  }

  margin-bottom: 86px;
}

.features {
  .title {
    margin-bottom: 39px;
  }
  .features__list {
    display: flex;
    justify-content: space-between;
    padding: 0px 97px;
  }
  margin-bottom: 79px;
}

.examples {
  .examples__row {
    display: flex;
    justify-content: space-between;
    .examples__column-1 {
      order: 1;
    }
    .examples__column-2 {
      order: 2;
    }
  }

  .examples__list {
    padding: 0px 101px;
  }

  .examples__article {
    padding: 57px 114px 0px 19px;
  }

  .examples__article_second {
    padding: 46.5px 114px 0px 17px;
  }
  .examples__article_third {
    padding: 74.5px 38px 0px 17px;
  }
  .examples__article_fourth {
    padding: 40px 114px 0px 15px;
    .examples__text_fourth {
      margin-bottom: 16px;
    }
  }

  .examples__list-item {
    margin-bottom: 52px;
  }

  .title {
    margin-bottom: 44px;
  }

  margin-bottom: 83.5px;
}

.brand {
  display: flex;
  flex-direction: column;
  align-items: center;

  .brand__title {
    margin-bottom: 25px;
  }
  .brand__text {
    margin-bottom: 27.1px;
  }
  margin-bottom: 30px;
}

//Perfect Pixel 0.3266 985x2048
