.wrapper {
  height: 100%;
  display: grid;
  grid-template: minmax(45px, auto) 1fr minmax(100px, auto) / 1fr;
  grid-template-areas:
    'header'
    'main'
    'brand';
}

.header {
  grid-area: header;
  display: grid;
  grid-template: 1fr/1fr minmax(auto, 492.5px) minmax(auto, 492.5px) 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 1em;
  &__logo {
    grid-column: 2/3;
  }
  &__button {
    grid-column: 3/4;
    display: grid;
    justify-items: end;
    grid-column-gap: 10px;
    grid-row-gap: 1em;
  }
}

.main {
  grid-area: main;
  display: grid;
  grid-template: 1fr/1fr minmax(auto, 904px) 1fr;

  .hero {
    grid-column: 2/3;
    display: grid;
    grid-template: 1fr 1fr 1fr/ 1fr;
  }
  .features {
    grid-column: 2/3;
  }
  .examples {
    grid-column: 2/3;
  }
}

.brand {
  grid-area: brand;
}
